<style>
	
	.left, .right{
	  color: #fff;
	  padding: 15px;
	  position: relative;
	  width: 50vw;
	  border-radius: 10px;
	  margin-left: 200px;
	  margin-bottom: 20px;
	}

	.left{
		background-color: white;
	}
	.right{
		background-color: green;
	}

	.left:before {
	  border: 40px solid transparent;
	  border-right-color: white;
	  content: "";
	  left: -70px;
	  top: 0px;
	  position: absolute;
	}

	.right:after{
		border: 40px solid transparent;
		border-left-color: green;
		content: "";
		right: -70px;
		top: 0px;
		position: absolute;
	}
</style>

<div class="left">
	<p>
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		

	</p>
</div>

<div class="right">
	<p>
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL
		AQUI VAI O CONTEUDO TEXTUAL

	</p>
</div>